Node-Red_Flow/flows.json
[{"id":"561e048.aea9afc","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1f55072d.03e419","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#5c9e30","baseFont":"Times New Roman,Times,serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#5c9e30","edited":true},"page-titlebar-backgroundColor":{"value":"#5c9e30","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#81ca51","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#5c9e30","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"Times New Roman,Times,serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Customer Help Desk","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"none","dateFormat":"DD/MM/YYYY","sizes":{"sx":55,"sy":55,"gx":6,"gy":6,"cx":10,"cy":20,"px":0,"py":0}}},{"id":"cbe9ad9d.01cbc","type":"ui_tab","z":"","name":"Customer Help Desk","icon":"dashboard","disabled":false,"hidden":false},{"id":"347634ab.8cb16c","type":"ui_group","z":"","name":"Login","tab":"cbe9ad9d.01cbc","order":1,"disp":true,"width":"8","collapse":false},{"id":"8e59a96d.c582c8","type":"ui_group","z":"","name":"Responce","tab":"cbe9ad9d.01cbc","order":2,"disp":true,"width":"14","collapse":false},{"id":"b1b11140.4e4ef","type":"inject","z":"561e048.aea9afc","name":"","topic":"","payload":"Hi","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":230,"y":160,"wires":[["f19e2a93.ac70a8"]]},{"id":"f2f2649a.0d0d98","type":"debug","z":"561e048.aea9afc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":870,"y":200,"wires":[]},{"id":"3c146a05.4c67a6","type":"ui_form","z":"561e048.aea9afc","name":"","label":"","group":"347634ab.8cb16c","order":1,"width":0,"height":0,"options":[{"label":"Full Name","value":"name","type":"text","required":true,"rows":null},{"label":"Email","value":"email","type":"email","required":true,"rows":null},{"label":"Your Question","value":"question","type":"text","required":true,"rows":null}],"formValue":{"name":"","email":"","question":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":300,"wires":[["df401b2f.fdba58"]]},{"id":"e5498170.e0c6c","type":"ui_text","z":"561e048.aea9afc","group":"8e59a96d.c582c8","order":1,"width":0,"height":0,"name":"","label":"you","format":"{{msg.payload}}","layout":"col-center","x":430,"y":440,"wires":[]},{"id":"f19e2a93.ac70a8","type":"watson-conversation-v1","z":"561e048.aea9afc","name":"Help-desk","workspaceid":"9af8a93f-8126-4977-a951-6ca2e132a264","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/14773828-1506-41ff-974c-c6853dfc0205","timeout":"","optout-learning":false,"x":540,"y":280,"wires":[["b150b281.0d091"]]},{"id":"df401b2f.fdba58","type":"function","z":"561e048.aea9afc","name":"Input parsing","func":"msg.payload=msg.payload.question;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":300,"wires":[["e5498170.e0c6c","f19e2a93.ac70a8"]]},{"id":"b150b281.0d091","type":"function","z":"561e048.aea9afc","name":"Parsing","func":"msg.payload=msg.payload.output.text[0]\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":280,"wires":[["f2f2649a.0d0d98","39afcc7.445f634"]]},{"id":"39afcc7.445f634","type":"ui_text","z":"561e048.aea9afc","group":"8e59a96d.c582c8","order":3,"width":0,"height":0,"name":"","label":"Assistant","format":"{{msg.payload}}","layout":"col-center","x":840,"y":420,"wires":[],"icon":"font-awesome/fa-user-circle"}]